* {
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

/* fonts */

.muted {
    color: #606C8C;
}

.text-60 {
    font-size: 60px;
}

.text-50 {
    font-size: 50px;
}

.text-20 {
    font-size: 20px;
}

.text-18 {
    font-size: 18px;
}

.text-16 {
    font-size: 16px;
}

.text-40 {
    font-size: 40px;
}

.white {
    color: white;
}

/* main */

.main {
    width: 100%;
    background: #91AFF5;
}

.take-call-btn {
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition-duration: .8s;
}

.logo {
    transition-duration: .8s;
}

.logo:hover {
    opacity: 0.5;
}

.take-call-btn:hover {
    opacity: 0.5;
}

.header-phone-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.viber-icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(243, 245, 250, 0.2);
    border-radius: 34px;
}

.viber-icon a {
    font-size: 20px;
    color: white;
}

.vk-icon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(243, 245, 250, 0.2);
    border-radius: 34px;
}

.vk-icon a {
    font-size: 20px;
    color: white;
}

.input-search {
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 77px;
    outline: 0;
    border: 0px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.input-search:hover {
    outline: 0;
}

.header-row1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.header-icons-container {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row2 {
    width: 1100px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 8;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #606C8C;
    transition-duration: .8s;
}

nav ul li a:hover {
    color: #1d3475;
}

.header-row2-icon-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row2-icon-container a {
    font-size: 20px;
    color: #606C8C;
    transition-duration: .8s;
}

.header-row2-icon-container a:hover {
    color: #1d3475;
}

/* main content */

.main-content {
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.catalog-btn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #606C8C;
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 66px;
    transition-duration: .8s;
}

.catalog-btn:hover {
    opacity: 0.5;
}

.main-content-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content-right {
    z-index: 6;
}

.vector-1 {
    position: absolute;
    left: 30%;
    opacity: 0.5;
    z-index: 2;
}

.vector-2 {
    position: absolute;
    z-index: 2;
    bottom: 60%;
}

.vector-5 {
    position: absolute;
    z-index: 2;
    left: 6.48%;
    right: 25.73%;
    top: 31%;
    bottom: 64.71%;
}

/* animal type */

.animal-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-type-item {
    transition-duration: .8s;
}

.animal-type-item:hover {
    filter: brightness(50%);
}

.animal-type-item-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* popular goods */

.popular-goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.popular-goods-content {
    width: 94vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.popular-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.popular-item {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.popular-bg-img-container {
    width: 285px;
    height: 285px;
    background: url(./images/popular-item.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.discount {
    width: 50px;
    height: 25px;
    border-radius: 65px;
    background: #F77A09;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.heart-icon {
    font-size: 18px;
    color: #606C8C;
}

.actual-price {
    font-size: 18px; 
    color: #1951E7;
}

.full-price {
    font-size: 14px;
    color: #B3B6C9;
}

.price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.goods-name {
    width: 100%;
}

.describe-text {
    font-size: 16px;
    color: #606C8C;
}

.buy-btn {
    width: 170px;
    height: 40px;
    background: #1951E7;
    border-radius: 50px;
    transition-duration: .8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.buy-btn:hover {
    background: #052274;
}

/* sponsors */

.sponsors-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    transition-duration: .8s;
}

.sponsors-img-container a:hover {
    transform: scale(1.15);
    cursor: pointer;
}

/* comfort */

.comfort {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comfort-left {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comfort-right {
    width: 680px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.comfort-item {
    width: 330px;
    height: 100px;
    background: #F4F6FB;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
    gap: 20px;
}

.comfort-item img {
    width: 50px;
    height: 50px;
}

.comfort-right-row1, .comfort-right-row2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* sales */

.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sales-content {
    width: 1100px;
    background: #91AFF5;
    border-radius: 20px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.sales-item {
    width: 480px;
    height: 240px;
    display: flex;
    background-color: white;
    border: 1px solid #EDF1FB;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 4;
}

.sales-img-container {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 145px;
    background: url(./images/sales-item.png) no-repeat;
    background-size: contain;
}

.sales-item-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.sales-item-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.vector-6 {
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    transform: rotate(1deg);
    right: 47%;
}

/* location */

.location {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}

.location-left {
    width: 650px;
    height: 440px;
    background: url(./images/map.png);
}

.location-right {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.location-right p i {
    color: #1951E7;
}

/* news */

.news {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 94vw;
}

.news-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.news-item {
    width: 263px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    transition-duration: .8s;
}

.news-item:hover {
    filter: brightness(50%);
}

.news-item a {
    text-decoration: none;
}

.news-item .text-18 {
    color: black;
}

.news-item .text-16 {
    color: #606C8C;
}

/* registrations */

.registrations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrations-content {
    width: 1190px;
    height: 480px;
    background: #FDAC6A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    overflow: hidden;
}

.reg-left {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.reg-left p {
    z-index: 6;
}

.reg-left > div {
    z-index: 6;
}

.reg-btn {
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #41B162;
    border-radius: 46px;
    transition-duration: .8s;
}

.reg-right {
    z-index: 6;
}

.reg-btn a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.reg-btn:hover {
    filter: brightness(80%);
}

.vector-7 {
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    left: 14.95%;
    margin-top: -40px;
}

.vector-8 {
    position: absolute;
    left: 72.20%;
    margin-top: 232px;
    z-index: 2;
    border-radius: 20px;
}

.vector-9 {
    position: absolute;
    right: 46%;
    margin-top: 260px;
}

.vector-10 {
    position: absolute;
    right: 20%;
    margin-top: -260px;
}